
.links-intro {
  color: #2c024d;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  margin: auto;
  max-width: 500px;
}
.logo {
  display: block;
  margin: 80px auto;
}
.navbar {
  visibility: hidden;
}
.section {
  background: linear-gradient(180deg, #fffbf8 0%, #ffeae5 100%);
  min-height: 100vh;
}
